.navbar-collapse {
  justify-content: end;
}

.navbar-brand {
  max-width: 85px;
}

.navbar-brand img {
  max-width: 100%;
  height: auto;
}

.active {
  font-weight: bold;
}

.navbar-nav {
  margin-right: 20px;
  gap: 20px;
}