<!-- <div class="list">

  <a href="https://www.google.co.in/" target="_blank"><img src="https://cdn2.hubspot.net/hubfs/53/image8-2.jpg"></a>

  <div class="nav-items">
    <p><a routerLink="/home">home</a></p>
    <p><a routerLink="/feed">feed</a></p>
    <p><a routerLink="/contact">contact</a></p>
    <div *ngIf="flag">
      <p><button routerLink="/sign-in" (click)="onsigin()">sig-in</button></p>
    </div>
    <div *ngIf="!flag">
      <p><button routerLink="/sign-in" (click)="onsigin()">log-out</button></p>
    </div>
  </div> -->

  <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img
          src="https://assets.spe.org/dims4/default/12a9ae8/2147483647/strip/true/crop/1024x708+0+0/resize/800x553!/quality/90/?url=http%3A%2F%2Fspe-brightspot.s3.us-east-2.amazonaws.com%2Fcc%2F82%2F1cb0bcc09ac7f1a29c076813c81e%2Fjpt-2019-new-bhi-logo.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/feed" routerLinkActive="active">Feed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
          </li>
          <li class="nav-item">
            <div *ngIf="flag">
              <button  type="button" class="btn btn-dark" routerLinkActive="active" routerLink="/sign-in">Sign in</button>
            </div>
            <div *ngIf="!flag">
              <button type="button" class="btn btn-success" routerLinkActive="active" (click)="onlogout()" routerLink="/sign-in">Log out</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>