<!-- <div class="list">

  <a href="https://www.google.co.in/" target="_blank"><img src="https://cdn2.hubspot.net/hubfs/53/image8-2.jpg"></a>

  <div class="nav-items">
    <p><a routerLink="/home">home</a></p>
    <p>menu</p>
    <p><a routerLink="/contact">contact</a></p>
    <p><a routerLink="/sign-in">sign in</a></p>
  </div>
</div>
-->
<app-header [isLoggedIn]="flag"></app-header>
<router-outlet></router-outlet> 

<!--<div class="first">
  <p>menu</p>
</div>
<div class="first">
  <p>menu</p>
</div>
<div class="third">
  <p>menu</p>
</div>
<div class="fourth">
  <p>menu</p>
</div>
<div class="fifth">
  <p>menu</p>
</div>
<div class="sixth">
  <p>menu</p>
</div>
<div class="seventh">
  <p>menu</p>
</div>
</div>-->
