<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://img.freepik.com/free-photo/shallow-focus-vertical-shot-cute-golden-retriever-puppy-sitting-grass-ground_181624-27259.jpg?size=626&ext=jpg&ga=GA1.1.2116175301.1718668800&semt=sph" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">My name is Honey</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <span><strong>{{count}}</strong></span>
      &nbsp;
      <button class="btn btn-primary" (click)="onclick($event)">LIKE</button>
    </div>
  </div>
